/* least specific (basic 1.0 weight) */
/* ul {
    font-size: 1.5em;
} */

/* middle specific (add weight 10) */
.double-size {
    font-size: 2.0em;
    color: blue;
}

/* more specific than class and element (add weight 20) */
#toast {
    font-size: 3.0em;
}

/* special specificity  (multiplies by 50) */
.important-size {
    font-size: 1.0em !important;
}

/* ul li.double-size {
    font-size: 2.0em;
} */

/* 

element - element selector
. - Class selector (can have multiple classes, this will return multiple element, 1 to many)
# - Identifier (supposed to return a single element. should be unique)
!important - override the specificity rules
*/


/* real styles below */

ul#recipe-meta {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: lightgray;
    border: 3px darkorange dashed;
}

ul#recipe-meta li {
    display: inline-block;
    margin: 10px;
    border: 1px black solid;
}

.recipe-image-med {
    /* units of measurement
    cm = centemeters
    mm = millimeters
    in = inches
    px = pixels
    pt = points (1pt = 1/72 of 1in)
    % = percentage of width of the parent
    em = relative to the font size of the element (2em means 2 times the current font)
    vw = relative to 1% of the viewport width
    vh = relative to 1% of the viewport height
    vmin = relative to 1% of the viewport's smaller dimension
    vmax = relative to 1% of the viewport's larger dimension
    */
    height: 300px;
    width: 400px;
}

.recipe-image-border {
    border: 2px black solid;
    padding: 1px;
    /* margin: top right bottom left */
    margin: 10px 0px 10px 0px;
}